<!DOCTYPE html>
<html>
<head>
    <title>TOGO-List</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/></head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <link href='../../Styles/main.css' rel='stylesheet' /> 
<body>
    <div class="row">
         <main>
            <div id='map' style='position:absolute; top:0; bottom:0; width:100%; height:100%;z-index: -1;'></div>  
        </main>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons md-18 valign pad-15" style='
    font-size: 24px;background-color: #26a69a;color: white;padding: 5px;border: solid 1px white;'>menu</i></a>
        <ul id="slide-out" class="side-nav blue-grey lighten-5 fixed">
            <li>
            </li>
        <li class="bold"><a href="#!" class="waves-effect">Place 1</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect">Place 1 info<i class="material-icons md-18">arrow_drop_down</i></a>

                <div class="collapsible-body">
                <ul>
                    <li><a href="#!">Place 1 more info</a></li>
                </ul>
                </div>
            </li>
        <li><div class="divider" style="margin:0px;"></div></li>
        <li class="bold"><a href="#!" class="waves-effect">Search</a></li>
        </ul>
       
    </div>
    
    <!-- Modal Structure -->
    <div class="container">
         <div id="modal1" class="modal modal-fixed-footer" data-bind = "template: { name: 'map-location' }"></div>
    </div>
    <!--- Modal Structure End -->

    <!-- Map related code. TODO: move this into proper custom binding. Need to get a better understanding of how to do this first. -->
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoiem9yeWFuYXQiLCJhIjoiY2o0NjNkaGdyMGJsdzMzbGRzcnB2NG0zYyJ9.6sKNrvuHPSOZzon9_rnTYA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [18.0153413, 59.3678046],
            zoom: 9
        });

        map.addControl(new mapboxgl.GeolocateControl(),'bottom-right');

        map.on('click', function (e) {
            console.log("Click location:");
            console.log(JSON.stringify(e.point));
            console.log(JSON.stringify(e.lngLat));
            
            $('.chips').material_chip();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 45, // Creates a dropdown of 15 years to control year
                container: 'body'
		    });
            
            map.flyTo({center: e.lngLat, zoom:13});
            $('#modal1').modal('open');
        });
    </script>
   
   <!-- Start: Ko Templates -->
   <script id = "map-location" type = "text/html">

            <div class="modal-content">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h5 style="color:#26a69a;" >Save location</h4>
                    </div>
                </div>
                
                <div class="row ">
                    <form class="col s12">
                        <div class="row ">
                            <div class="input-field col s10 offset-s1">
                                <input id="user_name" type="text" class="validate">
                                <label for="user_name">Location Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <div class="chips" id = "tags_input"></div>
                                <label for="tags_input">Location tags</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="user_name" type="text" class="validate">
                                <label for="password">Note or description</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input type="checkbox" id="test5" class="checkbox-cyan" />
                                <label for="test5">I've been here.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10 offset-s1" >
                                <input type="date" class="datepicker" style="position: relative; z-index: 100000 !important;">
                                <label for="date">Date of visit</label>
                            </div>
                        </div>

                       
                        <div class="row">
                            
                            <div class="col s10 offset-s1" name="feedback"> 
                                <h6 style="color:#9e9e9e; font-size:1em;">Did you like it?</h6>
                                   <p>
                                        <input name="group1" type="radio" id="test1" />
                                        <label for="test1">Hell, yeah!</label>
                                    </p>

                                    <p>
                                        <input name="group1" type="radio" id="test2" />
                                        <label for="test2">It was Ok.</label>
                                    </p>
                                    
                                    <p>
                                        <input name="group1" type="radio" id="test3"  />
                                        <label for="test3">Nope.</label>     
                                    </p>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Save</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Cancel</a>
            </div>
        
   </script>
   <!-- End: Ko Templates -->
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../ViewModels/IndexViewModel.js"></script>
    <script src="../knockout-3.4.2.js"></script>
    
    <!-- Initialize things   -->
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();//init side navigation
            $('.modal').modal();//init popup for inputting location info
            ko.applyBindings(app.IndexViewModel);
        })
    </script>
</body>
</html>
